html
    head
        title Caroline O'Toole
        link(rel ="stylesheet" href="/styles/styles.css")
    body
        .nav-bar-container
            .centered-container.flex-33
                p.bold Projects
            .centered-container.flex-33
                p Hey Bebe
            .centered-container.flex-33
                p Contact
        block Content